# Binaries
build/
/oppai
/oppai_test
obj
*.[oad]

# Artifacts
*.tar.gz
*.tar.xz
tags
flags.log

# Project settings
.ycm_extra_conf.py*

# Misc
*.swp
*~
*.bak
/oppai_cache
/test_suite.json
/test_suite
